.tab-bar {
  position: relative;
  height: 3rem;
  /* added these to fix a weird bug with heights changing */
  min-height: 3rem;
  max-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: scroll;

  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */

  /* draggability things */
  /* z-index: 1; */
  border-right: var(--default-border);
}

.tab-bar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.tab-filler {
  flex: 1;
  border-bottom: var(--default-border);

  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tab {
  background-color: var(--BG-1);
  border-left: var(--default-border);
  border-bottom: var(--default-border);

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  white-space: nowrap;

  cursor: pointer;
  user-select: none;
}

.tab-selected {
  border-bottom: none;
  background-color: var(--BG-2);
}

.tab:active {
  /* border: var(--default-border); */
  border: none;
  cursor: grabbing;
}

.tab-insert-marker {
  border-left: 2px solid var(--BORDER-2);
}

.tab-label-editor-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: unset;

  cursor: inherit;
}

.tab-label-editor-input:focus {
  cursor: text;
}

.file-label-text {
  font-size: 1rem;
}

.tab-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tab-controller {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  padding: 5px;
}
