.tab {
  background-color: var(--BG-1);
  border-right: var(--default-border);
  border-bottom: var(--default-border);

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  white-space: nowrap;

  cursor: pointer;
}

.tab-selected {
  border-bottom: none;
  background-color: var(--BG-2);
}

.text-button {
  user-select: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;

  transition: background-color 100ms;
}
.text-button-disabled {
  opacity: 0.5;
}

.text-button:hover:not(.text-button-disabled) {
  background-color: rgb(0, 0, 0, 0.25);
}
