#window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.panel {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
}

.code-panel {
  position: relative;
  flex: 1;
  background-color: var(--BG-2);
  overflow: hidden;
}

.cm-editor {
  height: 100%;
}

.output-panel {
  position: relative;
  flex: 2;
  background-color: var(--BG-3);
  overflow: hidden;
}

.input-panel {
  background-color: var(--BG-4);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 0.5rem;
}

.button {
  border-radius: 0.5rem;
  background-color: var(--BG-4);
  border: 1px solid var(--BORDER-0);
  padding: 0.5rem;
  cursor: pointer;
  transition: border-color 100ms;
  user-select: none;
  font-weight: 500;
}
.button:hover {
  border-color: var(--BORDER-2);
}
.button-selected {
  border-color: var(--BORDER-1);
}
