* {

  --BG-0: #191a24;
  --BG-1: #1e2231;
  --BG-2: #212637;
  --BG-3: #0f0f0f;
  --BG-4: #171717;
  /* --BG-5: # */

  --BORDER-0: #284357;
  --BORDER-1: hsl(201, 48%, 32%);
  --BORDER-2: hsl(195, 60%, 38%);

  --DANGER: #de4f4f;
  --DANGER-TRANSPARENT: #de4f4f40;

  --default-border: 1px solid var(--BORDER-0);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--BG-0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}